/* https://fonts.googleapis.com/css?family=Montserrat:600,700|Raleway:500 generated on 2020-02-14T13:48:30+00:00 */
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 600; src: url(../fonts/font-81200605.woff2) format('woff2'), url(../fonts/font-3b789fe9.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 700; src: url(../fonts/font-78a28255.woff2) format('woff2'), url(../fonts/font-0023a075.woff) format('woff'); }
@font-face {font-family: 'Raleway'; font-style: normal; font-weight: 500; src: url(../fonts/font-26378364.woff2) format('woff2'), url(../fonts/font-01c44492.woff) format('woff'); }
